%h1 Hi there #{@player.name}!
-my_games = $games.values.select{|g| g.players.keys.include?(@player)}
-unless my_games.empty?
  %h2{:style => "margin-bottom: -10px"} Your Games
  %p
    -my_games.sort_by{|g| g.date_created}.each do |game|
      %p
        %a{:href => "/game/#{game.id}/#{@player.id}"} Game Against #{game.players.keys.reject{|p| p == @player}.first.name}
        (#{game.date_created.strftime("%b %d %l:%M%p")})
%p
  -if $meet.include?(@player.id)
    You're waiting for someone to play with.
  -else  
    %a{:href => "/new-game/#{@player.id}"} New Game
