%h1
  %a{:href => "/dashboard/#{@player.id}", :style => "text-decoration: none"} Goofspiel
  \-
  #{@player.name} vs #{@other_player.name}
.box{:style => "float:left"}
  Used
  %br
  -if @game.last_bid(@other_player).nil?
    .placeholder
  -else
    - (@game.played(@other_player).length-1).times do
      .card{:style => "margin-right: -72px"}
        .pattern
    -last_card = @game.last_bid(@other_player)
    .card{:style => "color: #{font_color(last_card)}"}
      .top_val
        = prettify(last_card.to_s[0,1])
      .bot_val
        = prettify(last_card.to_s[0,1])
      .suit
        = prettify(last_card.suit[0,1])
  .spacer
.box{:style => "float:left"}
  Won
  %br
  -if @game.won(@other_player).last.nil?
    .placeholder
  -else
    - (@game.won(@other_player).length-1).times do
      .card{:style => "margin-right: -72px"}
        .pattern
    -last_won = @game.won(@other_player).last
    .card{:style => "color: #{font_color(last_won)}"}
      .top_val
        = prettify(last_won.to_s[0,1])
      .bot_val
        = prettify(last_won.to_s[0,1])
      .suit
        = prettify(last_won.suit[0,1])  
    .spacer
.deck
  %br
  -unless @game.deck.empty?
    .card{:style => "margin: 0"}
      .pattern
  -@game.bid_card.each do |card|
    .card{:style => "color: #{font_color(card)}"}
      .top_val
        = prettify(card.to_s[0,1])
      .bot_val
        = prettify(card.to_s[0,1])
      .suit
        = prettify(card.suit[0,1])

%p
  -if @game.already_bid?(@player)
    %p
      %b Waiting for #{@other_player.name}'s bid
      %br
      -@game.hand(@player).each do |card|
        .card{:style => "color: #{font_color(card)}"}
          .top_val
            = prettify(card.to_s[0,1])
          .bot_val
            = prettify(card.to_s[0,1])
          .suit
            = prettify(card.suit[0,1])
  -else
    %p
      %b Please place a bid
      -@game.hand(@player).each do |card|
        .card{:style => "color: #{font_color(card)}"}
          .top_val
            = prettify(card.to_s[0,1])
          .bot_val
            = prettify(card.to_s[0,1])
          .suit
            = prettify(card.suit[0,1])
          %a.link{:href => "/game/#{@game.id}/#{@player.id}/#{card.to_s}"}
  .box{:style => "float:left"}
    Used
    %br      
    -if @game.played(@player).empty?
      .placeholder
    -else
      -@game.played(@player).each do |card|
        .card{:style => "color: #{font_color(card)}"}
          .top_val
            =prettify(card.to_s[0,1])
          .bot_val
            =prettify(card.to_s[0,1])
          .suit
            =prettify(card.suit[0,1])
    .spacer
  .box{:style => "float:left"}
    Won
    %br
    -if @game.won(@player).empty?
      .placeholder
    -else
      -@game.won(@player).each do |card|
        .card{:style => "color: #{font_color(card)}"}
          .top_val
            =prettify(card.to_s[0,1])
          .bot_val
            =prettify(card.to_s[0,1])
          .suit
            =prettify(card.suit[0,1])